<p id="notice"><%= notice %></p>

<h1>Listing Now Assigns</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @now_assigns.each do |now_assign| %>
      <tr>
        <td><%= now_assign.student %></td>
        <td><%= link_to 'Show', now_assign %></td>
        <td><%= link_to 'Edit', edit_now_assign_path(now_assign) %></td>
        <td><%= link_to 'Destroy', now_assign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Now assign', new_now_assign_path %>
