<%= form_for(@post_thesis) do |f| %>
  <% if @post_thesis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_thesis.errors.count, "error") %> prohibited this post_thesis from being saved:</h2>

      <ul>
      <% @post_thesis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :past_assign_id %><br>
    <%= f.text_field :past_assign_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quotation %><br>
    <%= f.text_field :quotation %>
  </div>
  <div class="field">
    <%= f.label :view_hash %><br>
    <%= f.text_field :view_hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
